#kontakt {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100%;
    position: relative;
    margin-top: 30px;
    margin-bottom: 30px;
}

#mapa {
    margin-right: 120px;
}

#kontakt::before {
    content: '';
    position: absolute;
    left: 250px;
    right: 250px;
    height: 3px;
    background-color: #11175B; 
    z-index: 1;
    top: -30px;
}
